@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  font-family: inherit;
  font-size: 16px;
  --bg-color: #f6f8fa;
  --border-color: #d0d7de;
  --dark-color: #1f2329;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: var(--bg-color);
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  font-family: Cinzel;
}

nav {
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navi {
  width: 100%;
  max-width: 980px;
  text-align: center;
}

.main {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-basis: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border-top: 1px solid var(--border-color);
  gap: 10px;
  height: 3rem;
  max-height: 4rem;
}

.gitHub {
  width: 4rem;
  height: auto;
}
/* ---------------------------------------------------------- */
.navBar {
  display: flex;
  width: 980px;
  justify-content: space-around;
}

#navButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  flex-grow: 1;
}

#content {
  width: 100%;
  max-width: 980px;
  flex-grow: 1;
  flex-grow: 2;
  padding: 1rem;
}

.list > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cards {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.171);
}

.groupTodoTitle {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: default;
}

.groupTodoRestEl {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin-top: -2rem;
  font-size: 1.5rem;
  padding: 1rem;
}

.sideLeft {
  text-align: end;
  padding: 1rem;
}

.formListContainer {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
}

.formTodoContainer {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  gap: 2rem;
  top: 50%;
  left: 50%;
  border: 2px solid black;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.containerForm2 {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  width: 400px;
}

#formTodo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 12px;
  font-size: 1.5rem;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
}
form:focus {
  border-color: #0366d6;
  outline: none;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.styleBtn1 {
  margin: 10px;
  outline: none;
  background-color: initial;
  background-image: linear-gradient(-180deg, #009879, #009879);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 20px;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s;
}

.styleBtn2 {
  margin: 10px;
  outline: none;
  background-color: initial;
  background-image: linear-gradient(-180deg, #ff7e31, #e62c03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 20px;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s;
}

.styleBtn1:hover {
  background: #00bd68;
}
.styleBtn1:active {
  transform: scale(1.1);
  transition: ease-in-out;
}

.styleBtn2:hover {
  background: #e62c03;
}

.styleBtn2:active {
  transform: scale(1.1);
  transition: ease-in-out;
}

#content {
  position: relative;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
  accent-color: #009879;
}

#formList input[type="text"] {
  width: 20rem;
  height: 2rem;
  margin: 5px;
  font-size: 1.5rem;
}

textarea {
  width: 250px;
  height: 10em;
  resize: none;
}

.editTodo {
  width: 40px;
  height: 50px;
  font-weight: 700;
  font-size: 1.5rem;
  color: grey;
  user-select: none;
}
.editTodo:hover {
  border: 1px solid black;
  border-radius: 5px;
  transform: scale(1.1);
  pointer-events: none;
}

.styleBtn3 {
  outline: none;
  background-color: initial;
  background-image: linear-gradient(-180deg, #ff7e31, #e62c03);
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
  outline: 0;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s;
}
.styleBtn3:hover {
  transform: scale(1.1);
  transition: ease-in-out;
  background: #e62c03;
}

.groupTitle h1 {
  margin-left: 7rem;
}
